{% load util %}
{% load staticfiles %}
{% load compress %}

<html>
<head>
    <title>Browse Eventbrite Categories</title>
    {% compress css %}
    <link href="{% static 'css/categories_style.css' %}"
      rel="stylesheet" media="screen">
    {% endcompress %}
</head>
<body>
    <section class="browse-form">
        <form method='get'>
            <div class="category-selector-wrapper">
            {% for i in 3|range %}
                <select class="category-selector selectpicker" name="cat">
                    {% for cat in categories|dictsort:"name" %}
                        <option value="{{ cat.id }}" {% if i < sel_cat|length and sel_cat|index:i == cat.id %} selected {% endif %}>{{ cat.name }}</option>
                    {% endfor %}
                </select>
            {% endfor %}
            </div>
            <input type="submit" class="submit-button btn btn-default" value="Search">
        </form>
    </section>
    <section class="flash-messages">
        {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }} alert-danger"{% endif %}>{{ message }}</div>
        {% endfor %}
    </section>
    {% if events %}
        <section class="events-wrapper panel">
            <div class="events-header">Events (Page {{ pagination.page_number }} of {{ pagination.page_count }})</div>
            <ul class="events-list list-group">
                {% for event in events %}
                <a href="{{ event.url }}">
                    <li class="list-group-item">
                        {% if event.logo %}
                            <img class="logo" src="{{ event.logo.url }}" />
                        {% endif %}
                        <span class="name">{{ event.name.text }}</span>
                    </li>
                </a>
                {% endfor %}
            </ul>
            <nav>
              <ul class="pagination">
                {% if pagination.page_number|add:'-1' >= 1 %}
                    <a href="?{% url_replace request 'page' pagination.page_number|add:'-1' 'req_time' req_time %}" aria-label="Previous">
                        <li>
                            <span aria-hidden="true">Previous</span>
                        </li>
                    </a>
                {% endif %}
                {% if pagination.page_number|add:'1' <= pagination.page_count %}
                    <a href="?{% url_replace request 'page' pagination.page_number|add:'1' 'req_time' req_time %}" aria-label="Next">
                        <li>
                            <span aria-hidden="true">Next</span>
                        </li>
                    </a>

                {% endif %}
              </ul>
            </nav>
        </section>
    {% endif %}
</body>
</html>